
flask
flask_wtf
flask_sqlalchemy
flask_cors
authlib
jwt
mysqlclient
stripe
python_dotenv
authlib


# environment variables
# KEY_SECRET_FLASK = 'random secret key'
# ID_AUTH0_CLIENT = ''
# ID_AUTH0_CLIENT_SECRET = ''
# DOMAIN_AUTH0 = ''
# SQLALCHEMY_DATABASE_URI = 'mysql://username:password@localhost/dbname'
    # Replace 'username', 'password', 'localhost', and 'dbname' with your actual database credentials
# MAIL_PASSWORD = ''
# RECAPTCHA_PUBLIC_KEY = ''
# RECAPTCHA_PRIVATE_KEY = ''
