{% extends 'layouts/layout.html' %}

{% block title %}{{ model.title }}{% endblock %}

{% block page_body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/store_checkout_success.bundle.css') }}">
    
    <div class="{{ model.FLAG_CARD }}">
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_COLUMN }}">
            <div id="{{ model.ID_CONTAINER_INFO_DELIVERY }}" class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}" style="border-bottom: 1px black;">
                <h2>Order successful!</h2>
                <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                    <div class="{{ model.FLAG_LABEL }}"><strong>Order reference: {{ model.CHECKOUT_SESSION.ID }}</strong></div>
                    <div class="{{ model.FLAG_LABEL }}">You will receive an order acknowledgement by email</div>
                </div>
                {% if model.IS_USER_LOGGED_IN %}
                    <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                        <h3>Your order:</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    {% set block_id = 'checkout' %}
    {% include 'layouts/_shared_store.html' %}
{% endblock %}