
#tableMain {
    overflow-x: auto;
    padding: 1vh;
    max-width: 95vw; /* min(calc(1vh * 80), calc(1vw * 90)); */
    width: min-content;
    margin: 1vh 2vh;
    align-items: normal;
    justify-content: normal;
}

#tableMain * {
    padding: 0.25vh 0.5vh;
}

#tableMain select, #tableMain input:not([type="checkbox"]), #tableMain textarea, #tableMain div {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#tableMain thead tr th, #tableMain tbody tr td {
    width: 20vh;
    min-width: 20vh;
    padding: 0 0.5vh;
}
#tableMain tbody tr td {
    height: 5vh;
    padding-top: 0.5vh;
}
#tableMain tbody tr:not(:last-of-type) td {
    padding-bottom: 0.5vh;
}
#tableMain thead tr th.active, #tableMain tbody tr td.active {
    width: 6vh;
    min-width: 6vh;
}
#tableMain tbody tr td.display_order, #tableMain thead tr th.display_order {
    width: 5vh;
    min-width: 5vh;
}
