{% extends 'layouts/layout.html' %}

{% block title %}{{ model.title }}{% endblock %}

{% block page_body %}
    <!-- Include Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sections/legal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/privacy_notice.css') }}">
    
    <!-- HTML content -->
    <div class="{{ model.FLAG_CARD }} {{ model.FLAG_COLUMN }}">
        <h2>Generated privacy notice - general business</h2>
        <h3>Precision and Research Technology Systems Ltd customer privacy notice</h3>
        <p>This privacy notice tells you what to expect us to do with your personal information.</p>
        <h3>Our contact details</h3>
        <p>Email</p>
        <p>teddy@partsltd.co.uk</p>
        <h3>What information we collect, use, and why</h3>
        <p>We collect or use the following information to provide services and goods, including delivery:</p>
        <ul>
            <li>Names and contact details</li>
        </ul>
        
        <h3>Lawful bases</h3>
        <p>Our lawful bases for collecting or using personal information to provide services and goods are:</p>
        <ul>
            <li>Legitimate interest:</li>
            <ul>
                <li>
                    We collect the user's name and email address alongside a message they send on our 'Contact Us' form in order to respond to their request. Alternatively, the user has the option to contact us directly by email.
                </li>
            </ul>
        </ul>

        <h3>Where we get personal information from</h3>
        <ul>
            <li>People directly</li>
        </ul>
        
        <h3>How long we keep information</h3>
        <p>For information on how long we keep personal information, see our retention schedule at <a href="https://www.partsltd.co.uk/retention-schedule" alt="retention schedule" aria-label="retention schedule">https://www.partsltd.co.uk/retention-schedule</a></p>
        
        <h3>Who we share information with</h3>
        <p>Data processors</p>
        <p><strong>Zume</strong></p>
        <p>This data processor does the following activities for us: They host our web and email server, including emails with personal data in body and database storage for database that holds user data.</p>
        
        <h3>Sharing information outside the UK</h3>
        <p>Where necessary, we may transfer personal information outside of the UK. When doing so, we comply with the UK GDPR, making sure appropriate safeguards are in place. Please contact us for more information.</p>
        <p>Where necessary, our data processors may share personal information outside of the UK. When doing so, they comply with the UK GDPR, making sure appropriate safeguards are in place. Please contact us for more information.</p>

        <h3>Your data protection rights</h3>
        <p>Under data protection law, you have rights including:</p>
        <ul>
            <li>Your right of access - You have the right to ask us for copies of your personal data.</li>
            <li>Your right to rectification - You have the right to ask us to rectify personal data you think is inaccurate. You also have the right to ask us to complete information you think is incomplete.</li>
            <li>Your right to erasure - You have the right to ask us to erase your personal data in certain circumstances.</li>
            <li>Your right to restriction of processing - You have the right to ask us to restrict the processing of your personal data in certain circumstances.</li>
            <li>Your right to object to processing - You have the right to object to the processing of your personal data in certain circumstances.</li>
            <li>Your right to data portability - You have the right to ask that we transfer the personal data you gave us to another organisation, or to you, in certain circumstances.</li>
            <li>Your right to withdraw consent – When we use consent as our lawful basis you have the right to withdraw your consent.</li>
        </ul>
        <p>You don’t usually need to pay a fee to exercise your rights. If you make a request, we have one calendar month to respond to you.</p>
        <p>To make a data protection rights request, please contact us using the contact details at the top of this privacy notice.</p>

        <h3>How to complain</h3>
        <p>If you have any concerns about our use of your personal data, you can make a complaint to us using the contact details at the top of this privacy notice.</p>
        <p>If you remain unhappy with how we’ve used your data after raising a complaint with us, you can also complain to the ICO.</p>

        <h3>The ICO’s address:</h3>
        <p>Information Commissioner’s Office</p>
        <p>Wycliffe House</p>
        <p>Water Lane</p>
        <p>Wilmslow</p>
        <p>Cheshire</p>
        <p>SK9 5AF</p>
        <p>Helpline number: 0303 123 1113</p>
        <p>Website: <a href="https://www.ico.org.uk/make-a-complaint" alt="ICO make a complaint" aria-label="ICO make a complaint">https://www.ico.org.uk/make-a-complaint</a></p>
        <p>Last updated</p>
        <p>1 May 2024</p>
    </div>

    <!-- Include JavaScript -->
    <script type="module" src="{{ url_for('static', filename='js/sections/legal.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/privacy_notice.js') }}"></script>

    <!--
    <script>
        var hashPageCurrent = "{{ model.HASH_PAGE_ACCESSIBILITY_STATEMENT }}";
        
        $(document).ready(function() {
            hookupPageAccessibilityStatement();
        });
    </script>
    -->
{% endblock %}