{% extends 'layouts/layout.html' %}

{% block title %}{{ model.title }}{% endblock %}

{% block page_body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/core_admin_home.bundle.css') }}">

    <div class="{{ model.FLAG_CARD }} {{ model.FLAG_ROW }}">
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_COLUMN }}">
            <h2>Store</h2>
            <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                <button class="{{ model.FLAG_NAV_STORE_PRODUCT_CATEGORIES }}">Product Categories</button>
            </div>
            <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                <button class="{{ model.FLAG_NAV_STORE_PRODUCTS }}">Products</button>
            </div>
            <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                <button class="{{ model.FLAG_NAV_STORE_PRODUCT_PERMUTATIONS }}">Product Permutations</button>
            </div>
            <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                <button class="{{ model.FLAG_NAV_STORE_STOCK_ITEMS }}">Product Stock</button>
            </div>
            <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                <button class="{{ model.FLAG_NAV_STORE_PRODUCT_VARIATIONS }}">Product Variations</button>
            </div>
            <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                <button class="{{ model.FLAG_NAV_STORE_MANUFACTURING_PURCHASE_ORDERS }}">Manufacturing Purchase Orders</button>
            </div>
            <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                <button class="{{ model.FLAG_NAV_STORE_SUPPLIERS }}">Suppliers</button>
            </div>
            <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                <button class="{{ model.FLAG_NAV_STORE_SUPPLIER_PURCHASE_ORDERS }}">Supplier Purchase Orders</button>
            </div>
        </div>
    </div>
{% endblock %}