<!-- v2a -->

{% extends 'layouts/layout.html' %}

{% block title %}{{ model.title }}{% endblock %}

{% block page_body %}
    <!-- Include Stylesheet
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sections/core.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/core/services.css') }}" />
    -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/core_services.css') }}">
    
    <!-- HTML content -->
    <div class="{{ model.FLAG_CARD }}">
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_COLUMN }}">
            <h1>Services</h1>
            <h2>Website, Web App, & Desktop Software Development</h2>
            <ul>
                <li>Custom software tailored to your unique business needs</li>
                <li>Leverage the latest technologies for seamless, high-performance solutions</li>
                <li>Intuitive user interface design to delight your users and boost productivity</li>
            </ul>
            <h2>Cloud Migration & Architecture Design</h2>
            <ul>
                <li>Expertise to guide your cloud journey and optimize your architecture</li>
                <li>Ensure scalability, security and cost-efficiency in the cloud</li>
                <li>Unlock the power of cloud-native services, like AI, to accelerate innovation</li>
            </ul>
        </div>
    </div>

    <div class="{{ model.FLAG_CARD }}">
        <h1>Technologies</h1>
        <p>We are most experienced with these technologies, in case you have any requirements.</p>
        <table>
            <thead>
                <tr>
                    <th>Database</th>
                    <th>Server / Application</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://www.mysql.com/" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/MySQL.png')}}" alt="MySQL"></img></a></td>
                    <td><a href="https://www.python.org/" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/python.png')}}" alt="python"></img></a></td>
                </tr>
                <tr>
                    <td><a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/MS_SQL_Server.svg')}}" alt="Microsoft SQL Server"></img></a></td>
                    <td><a href="https://dotnet.microsoft.com/en-us/languages/csharp" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/Csharp_NET.png')}}" alt="C sharp dot NET"></img></a></td>
                </tr>
                <tr>
                    <td><a href="https://firebase.google.com/" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/Firebase.png')}}" alt="Firebase"></img></a></td>
                    <td><a href="https://nodejs.org/en" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/Node_js.png')}}" alt="Node dot js"></img></a></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="https://www.java.com/en/" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/Java.png')}}" alt="Java"></img></a></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Web</th>
                    <th>Frameworks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://www.w3.org/html/" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/HTML5.png')}}" alt="HTML5"></img></a></td>
                    <td><a href="https://react.dev/" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/React.png')}}" alt="React"></img></a></td>
                </tr>
                <tr>
                    <td><a href="https://www.w3.org/Style/CSS/" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/CSS3.jpg')}}" alt="CSS3"></img></a></td>
                    <td><a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/Flask.png')}}" alt="Flask"></img></a></td>
                </tr>
                <tr>
                    <td><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/JavaScript.png')}}" alt="JavaScript"></img></a></td>
                    <td><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/MVC.png')}}" alt="Model View Controller"></img></a></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="https://ics.uci.edu/~fielding/pubs/dissertation/rest_arch_style.htm" target="_blank"><img class="img-icon" src="{{ url_for('static', filename='images/REST.png')}}" alt="REST"></img></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="{{ model.FLAG_CARD }}">
        <h1>FAQs</h1>
        <h2>Websites, Web apps, and Software - what's the difference?</h2>
        <ul>
            <li>Not much! A web app is a type of website and they are both types of software that are accessed on the internet using web browser software.</li>
            <li>Web apps have more complex functionality than simple text and image pages.</li>
            <li>For example, this is a website. Google Maps is a web app. Notepad is a piece of desktop sofware.</li>
        </ul>
        <h2>Why choose us?</h2>
        <ul>
            <li>Work directly with the person responsible for delivering your project</li>
            <li>Faster decision-making process without bureaucratic hurdles</li>
            <li>Transparent pricing structure with no hidden fees</li>
        </ul>
    </div>
    
    <!-- Include JavaScript
    <script type="module" src="{{ url_for('static', filename='js/sections/core.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/pages/core/services.js') }}"></script>
    -->

    <!--
    <script>
        var hashPageCurrent = "{{ model.HASH_PAGE_SERVICES }}";

        $(document).ready(function() {
            hookupPageServices();
        });
    </script>
    -->
{% endblock %}
