
:root {
    /* Declare global variables */
    /*
    --c_purple: #5B29FF;
    --c_purple_pastel: #D1D1FF;
    --c_purple_lighter: #E8E1FF;
    --c_purple_light: #C6BDFF;
    --c_purple_dark: #4700B3;
    */
    /* purple theme
        - light https://coolors.co/palette/a172fd-a77afe-ac82fe-b691fe-c1a0fe-cbaffe-d6bffe-e0cefe-ebddfe-f5ecfe
        - dark https://coolors.co/palette/310055-3c0663-4a0a77-5a108f-6818a5-8b2fc9-ab51e3-bd68ee-d283ff-dc97ff
    */
    --c_purple_darker: #310055;
    --c_purple_dark: #4A0A77;
    --c_purple: #6818A5;
    --c_purple_light: #CBAFFE;
    --c_purple_lighter: #F5ECFE;

    --c_blue: #0044FF;
    --c_blue_pastel: #B8E0FF;
    --c_blue_light: #73E8FF;
    --c_blue_dark: #003ADB;
    /* --c_red: */
    --c-red: #FF0000;
    --c_red_pastel: #FAE0E2;
    --c_red_lighter: #FAE0E2;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-family: var(--font-family-base);
    font-family: Arial;
    padding: 0;
    margin: 0;
    border: 0;
    background: linear-gradient(to bottom right, var(--c_purple_lighter), var(--c_red_lighter)); /* var(--c_purple); */
    height: 100vh;
    max-height: 100%;
}

* {
    margin: 0;
}

script, link {
    display: none !important;
}

#pageBody {
    height: 69vh !important;
    padding: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 1vh;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    align-content: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 98vw;
    color: var(--text-colour);
}

.page-body > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-self: center;
    font-size: min(16px, calc(1vh * 4));
}
#pageBody > * > * {
    align-self: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    /* color: var(--c_purple_dark); */
}
#pageBody > .card {
    height: fit-content;
    margin-top: 1vh;
}
#pageBody > .card:first-of-type{
    margin-top: 0vh;
    top: 0;
}

/* Create two unequal columns that floats next to each other *
/* Left column *
.leftcolumn {   
    float: left;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    /* min-width: fit-content; *
    align-items: center;
    justify-content: center;
}

/* Right column *
.rightcolumn {
    float: left;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    /* min-width: fit-content; only on store?? *
    /* background-color: #f1f1f1; *
    padding-left: 20px;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
*/

/* Fake image 
.fakeimg {
    background-color: var(--c_purple_light);
    width: 100%;
    padding: 20px;
}
*/


/* header image */
img.header-logo {
    max-height: 15vh;
    max-width: 20vw;
    cursor: pointer;
    border-radius: 5vh !important;
}

/* icon images */
.img-icon {
    max-width: 16vh;
    max-height: 8vh;
    border-radius: 0;
}

/*
.container-icon-label {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-icon-label > * {
    display: inline-flex;
    margin-left: 1vh;
    margin-right: 1vh;
}

.header > .container:first-of-type {
    max-width: 25%;
    justify-self: left;
}
.header > .container:last-of-type {
    max-width: 75%;
    justify-self: left;
}
*/

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 1vh;
    margin: 1vh;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4vh;
    /* min-width: fit-content; */
    position: relative;
    height: fit-content;
    max-width: 80vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.header.card {
    border-radius: 2.5vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container {
    flex: 1;
    margin: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: flex-start;
    /* max-width: 100%; */
    /* min-width: fit-content; */
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.row {
    display: flex; 
    flex-direction: row;
    width: 100%;
    /* min-width: fit-content; */
}

.container > .card:first-of-type {
    margin-top: none;
}


/*
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other *
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        /* padding: 0; *
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other *
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
*/

.container-input {
    padding: 1vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-input > label {
    width: 100%;
    margin-bottom: 1vh;
    margin-top: 0;
}

.container-input:not(:nth-child(3)) > label {
    margin-top: 1vh;
}

.container-input > input, .container-input > textarea {
    border: 2px solid var(--border-colour);
    padding: 1vh;
}

.label-title {
    width: 100%;
}


ul {
    max-width: 90%;
    padding: 5px 0 10px 0;
}
li {
    text-align: left;
    font-size: 18px;
}


:not(input,textarea,select,button).dirty {
    background-color: var(--accent-colour);
}
input.dirty, textarea.dirty, select.dirty {
    border-color: var(--border-colour);
}


#pageBody > *, button {
    font-size: min(12px, calc(1vh * 3));
}