
button, .button-submit, input[type="submit"] {
    font-size: 20px;
    font-weight: bold;
    border: 4px solid;
    border-radius: 2vh;
    padding: 1vh 2vh 1vh 2vh;
    margin: 0.5vh;
    background-color: var(--background-colour);
    color: var(--primary-colour);
    border-color: var(--border-colour);
}

button.navContactUs {
    border: 4px solid var(--border-colour);
    background-color: var(--c_purple_pastel);
    /* color: var(--c_purple_dark) !important; */
    border-radius: 2vh;
    width: 180px !important;
}

button:hover, input[type="submit"]:hover {
    text-decoration: underline;
}
