
#formFilters .container {
    max-width: fit-content;
}

thead, tbody {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

th {
    background-color: var(--c_purple_pastel);
}
td {
    font-size: min(12px, calc(1vh * 3));
}

th, td {
    min-width: fit-content;
}
tr:not(:last-child) > td {
    border-bottom: 1px dashed var(--c_purple_dark);
}
td > table > tbody > tr > td {
    border: none !important;
}
th.collapsed, td.collapsed {
    display: table-cell !important;
}
td.dirty {
    background-color: var(--c_purple_dark);
}
td:not(.dirty) {
    /* color: var(--c_purple_dark); */
    background-color: var(--c_purple_pastel);
}

tr {
    min-height: 1px;
    border-bottom: 1px solid var(--c_purple_dark);
    border-top: 1px solid var(--c_purple_dark);
    background-color: transparent;
}

/*
.row-new {
    visibility: hidden;
}
*/

table button {
    margin: 0.25vh;
    padding: 0.5vh 1vh;
}

table button.active {
    background-color: var(--c_purple_pastel);
}

tr.delete, tr.delete > td {
    background-color: red;
}

table div {
    align-content: center;
}