{% extends 'layouts/layout.html' %}

{% block title %}{{ model.title }}{% endblock %}

{% block page_body %}
    <!-- Include Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <!-- HTML content -->
        <div class="card">
            <div class="container column">
                <h1>Offering a full suite of software engineering services.</h1>
            </div>
        </div>
    
    <!-- Include JavaScript -->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    
    <script>
        var hashPageCurrent = "{{ model.hash_page_home }}";

        $(document).ready(function() {
            hookupPageHome();
        });
    </script>
{% endblock %}