<!-- Store Product Card 
    for insertion in _store_product_category_card
-->
{% if product.has_permutations() %}
    {% set permutation = product.get_permutation_selected() %}
    <div class="card subcard" {{ model.attr_id_product }}="{{ product.id_product }}" {{ model.attr_id_permutation }}="{{ permutation.id_permutation }}">
        <div class="container">
            <img class="img-product" src="{{ permutation.get_image_from_index(0).url }}" alt="Template product image"> <!-- model.get_many_product_image_src(product.id_product, '', True, 'FULL') -->
        </div>
        {% if permutation.is_available() %}
            {% set form = product.form_basket_add %}
            <form {{ model.attr_form_type }}="{{ form.form_type }}" {{ model.attr_id_product }}="{{ product.id_product }}" {{ model.attr_id_permutation }}="{{ permutation.id_permutation }}" class="container column" action="{{ url_for('basket_add') }}" method="POST">
                {{ form.hidden_tag() }}
                <h2>{{ product.name }}</h2>
                <h3>{{ permutation.output_price(model.is_included_VAT) }}</h3>
                {% set tmp_quantity = 1 %}
                {% include '_block_input_number_plus_minus.html' %}
                {{ form.submit() }}
                <p>Get it: <strong>{{ permutation.output_delivery_date() }}</strong></p>
            </form>
        {% endif %}
        <!-- { % inc !!!! broken to ignore !!!! lude '_block_store_product_price!!!! broken to ignore !!!!.html' % } -->
    </div>
{% endif %}