<!-- v2a -->

{% extends 'layout.html' %}

{% block title %}{{ model.title }}{% endblock %}

{% block page_body %}
    <!-- Include Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />

    <!-- HTML content -->
    <div>
        <p style="font-size: 24px; color: white;">Your software engineering solution</p>
        {% set block_id = 'button_get_in_touch' %}
        {% include '_shared.html' %}
    </div>
    
    <!-- Include JavaScript -->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    
    <script>
        var hashPageCurrent = "{{ model.HASH_PAGE_HOME }}";

        $(document).ready(function() {
            hookupPageHome();
        });
    </script>
{% endblock %}