{% extends 'layout.html' %}

{% block page_body %}
    {% set block_id = 'styles' %}
    {% include '_shared_store.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/page_store_product_categories.css') }}">
    
    <form id="{{ model.ID_FORM_FILTERS_CATEGORIES }}" class="{{ model.FLAG_ROW }} {{ model.FLAG_CARD }}" action="{{ url_for('routes_store.category_save') }}" method="POST"> <!-- {{ model.FLAG_CONTAINER }} -->
        {{ model.form_filters.hidden_tag() }}
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_COLUMN }}">
            <div class="{{ model.FLAG_CONTAINER_INPUT }} {{ model.FLAG_ROW }}">
                {{ model.form_filters.is_not_empty.label }}
                {{ model.form_filters.is_not_empty() }}
                {% for error in model.form_filters.is_not_empty.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <!--
        -->
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_COLUMN }}">
            <div class="{{ model.FLAG_CONTAINER_INPUT }}">
                {% set block_id = 'button_add' %}
                {% include '_blocks_button_save_cancel.html' %}
            </div>
        </div>
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_COLUMN }}">
            <div class="{{ model.FLAG_CONTAINER_INPUT }}">
                {% set block_id = 'button_save' %}
                {% include '_blocks_button_save_cancel.html' %}
            </div>
        </div>
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_COLUMN }}">
            <div class="{{ model.FLAG_CONTAINER_INPUT }}">
                {% set block_id = 'button_cancel' %}
                {% include '_blocks_button_save_cancel.html' %}
            </div>
        </div>
        <!--
        <div class="{{ model.FLAG_ROW }} {{ model.FLAG_CARD }}">
            <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_COLUMN }}">
            </div>
        </div>
        -->
    </form>
    <table id="{{ model.ID_TABLE_MAIN }}" class="{{ model.FLAG_ROW }} {{ model.FLAG_CARD }}">
        <thead>
            <tr class="{{ model.FLAG_PRODUCT_CATEGORY }}">
                <th class="{{ model.FLAG_DISPLAY_ORDER }}">Display Order</th>
                <th class="{{ model.FLAG_CODE }}">Code</th>
                <th class="{{ model.FLAG_NAME }}">Name</th>
                <th class="{{ model.FLAG_DESCRIPTION }}">Description</th>
            </tr>
        </thead>
        <tbody>
            {% set is_blank_row = False %}
            {% for category in model.category_list.categories %}
                {% include '_block_store_product_category.html' %}
            {% endfor %}

            {% set is_blank_row = True %}
            {% include '_block_store_product_category.html' %}
        </tbody>
    </table>
    
    {% include '_block_overlay_confirm.html' %}
    {% include '_block_overlay_error.html' %}

    {% set block_id = 'scripts' %}
    {% include '_shared_store.html' %}
    <!-- Include JavaScript -->
    <script type="module" src="{{ url_for('static', filename='js/pages/page_store_product_permutations.js') }}"></script>

    <script>
        // pass arguments from model to JS
        var idFormFiltersProductCategories = "#{{ model.ID_FORM_FILTERS_PRODUCT_CATEGORIES }}";
        var keyProductCategory = "{{ model.KEY_PRODUCT_CATEGORY }}";
        var listCategories = {{ model.category_list.to_list_categories() | tojson | safe }};

    </script>
{% endblock %}