{% extends 'layout.html' %}

{% block title %}{{ model.title }}{% endblock %}

{% block page_body %}
    <!-- Include Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store_home.css') }}">
    
    <!-- HTML content -->
    <div class="card">
        <form id="{{ model.id_form_contact }}" class="container" action="{{ url_for('contact') }}" method="POST">
            <h2 class="label-title">Complete the form or find our details below.</h2>
            <!--
            <div class="container-input">
                <label for="sender_email">Email address</label> <!-- class="input-label" --
                <input type="email" id="sender_email" name="sender_email" placeholder="Please enter your email address so we can get back to you." style="width: 50%;"/>
            </div>
            <div class="container-input">
                <label for="sender_CC">
                    <input type="checkbox" id="sender_CC" name="sender_CC" checked/>Uncheck this box if you do not wish to receive a copy of the email
                </label>
            </div>
            <div class="container-input">
                <label for="sender_name">Name</label> <!-- class="input-label" --
                <input type="text" id="sender_name" name="sender_name" placeholder="Please enter your preferred name." style="width: 30%;"/>
            </div>
            <div class="container-input">
                <label for="sender_message">Message</label> <!-- class="input-label" --
                <textarea id="sender_message" name="sender_message" rows="4" cols="80" placeholder="How can we help?"></textarea>
            </div>
            <button type="submit" id="submit_form_email">Submit request</button>
            -->
            {{ model.form.hidden_tag() }}
            <div class="container-input">
                {{ model.form.email.label }}
                {{ model.form.email(size=254) }}
                {% for error in model.form.email.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <!--
            <div class="container-input">
                {{ model.form.CC.label }}
                {{ model.form.CC(checked=True) }}
                {% for error in model.form.name.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            -->
            <div class="container-input">
                {{ model.form.name.label }}
                {{ model.form.name(size=50) }}
                {% for error in model.form.name.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="container-input">
                {{ model.form.msg.label }}
                {{ model.form.msg(rows=4, cols=80) }}
                {% for error in model.form.name.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="container-input">
                {{ model.form.submit() }}
            </div>
        </form>
    </div>

    <div class="card">
        <h3 class="label-title">Contact Details</h3>
        <div class="container">
            <h4>edward.middletonsmith@gmail.com</h4>
            <a href="{{ model.url_LinkedIn }}" class="container-icon-label"><img class="img-icon" src="{{ url_for('static', filename='images/Logo_LinkedIn.png') }}"/><h4>LinkedIn</h4></a>
            <a href="{{ model.url_GitHub }}" class="container-icon-label"><img class="img-icon" src="{{ url_for('static', filename='images/Logo_GitHub.png') }}"/><h4>GitHub</h4></a>
        </div>
        <div class="container">
            <h4>Unit 12c, Somers Road</h4>
            <h4>Rugby, Warwickshire</h4>
            <h4>CV22 7DH</h4>
        </div>
    </div>
    
    <!-- Include JavaScript -->
    <script src="{{ url_for('static', filename='js/contact.js') }}"></script>

    <script>
        var hashPageCurrent = "{{ model.hash_page_contact }}";

        $(document).ready(function() {
            hookupPageContact();
        });
    </script>
{% endblock %}