{% extends 'layout.html' %}

{% block title %}{{ model.title }}{% endblock %}

{% block page_body %}
    {% set block_id = 'styles' %}
    {% include '_shared_store.html' %}
    <!-- Include Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store_home.css') }}">
    
    <!-- HTML content -->
    <div class="row">
        <div class="leftcolumn">
            {% for cat in model.category_list.categories %}
                {% include '_block_store_product_category.html' %}
            {% endfor %}
        </div>
        <div id="{{ model.id_basket_container }}" class="rightcolumn">
            {% include '_block_store_basket.html' %}
        </div>
    </div>
    
    {% set block_id = 'scripts' %}
    {% include '_shared_store.html' %}
    <!-- Include JavaScript -->
    <script src="{{ url_for('static', filename='js/store_home.js') }}"></script>

    <script>
        var hashPageCurrent = "{{ model.hash_page_store_home }}";

        $(document).ready(function() {
            console.log('Hooking up home page...');
            hookupStorePageHome();
            // hookupStore(); // in _shared_store.html
        });
    </script>
{% endblock %}