{% extends 'layout.html' %}

{% block title %}{{ model.title }}{% endblock %}

{% block page_body %}
    <!-- Include Stylesheets -->
    {% set block_id = 'styles' %}
    {% include '_shared_store.html' %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/store_home.css') }}"> css/store_basket.css -->
    
    <!-- HTML content -->
    <div class="{{ model.FLAG_CARD }}">
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_COLUMN }}">
            <div id="{{ model.ID_CONTAINER_INFO_DELIVERY }}" class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}" style="border-bottom: 1px black;">
                <h2>Order successful!</h2>
                <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                    <div class="{{ model.FLAG_LABEL }}"><strong>Order reference: {{ model.CHECKOUT_SESSION.ID }}</strong></div>
                    <div class="{{ model.FLAG_LABEL }}">You will receive an order acknowledgement by email</div>
                </div>
                {% if model.IS_USER_LOGGED_IN %}
                    <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
                        <h3>Your order:</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- Include JavaScript -->
    {% set block_id = 'scripts' %}
    {% include '_shared_store.html' %}
    <script src="{{ url_for('static', filename='js/store_page_basket.js') }}"></script>
    {% set block_id = 'checkout' %}
    {% include '_shared_store.html' %}
    <script>
        var hashPageCurrent = "{{ model.HASH_PAGE_STORE_BASKET }}";

        $(document).ready(function() {
            console.log('Hooking up store checkout success page...');
            hookupStorePageCheckoutSuccess();
        });
    </script>
{% endblock %}