{% if block_id == 'block1' %}
    <div class="common-block" id="block1">
        <h1>Feckin common block boi</h1>
    </div>
{% elif block_id == 'styles' %}
    <!-- Include Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store_shared.css') }}">
{% elif block_id == 'scripts' %}
    <!-- Include JavaScript -->
    <script src="{{ url_for('static', filename='js/store_shared.js') }}"></script>
    <!-- Variables from Model_View_Store + model-->
    <script>
        var attrFormType = "{{ model.ATTR_FORM_TYPE }}";
        var attrIdPermutation = "{{ model.ATTR_ID_PERMUTATION }}";
        var attrIdProduct = "{{ model.ATTR_ID_PRODUCT }}";
        var attrIdProductCategory = "{{ model.ATTR_ID_PRODUCT_CATEGORY }}";
        var flagBasketItemDelete = "{{ model.FLAG_BASKET_ITEM_DELETE }}";
        var flagBtnBasketAdd = "{{ model.FLAG_BTN_BASKET_ADD }}";
        var flagBtnBuyNow = "{{ model.FLAG_BTN_BUY_NOW }}";
        var hashStoreBasketAdd = "{{ model.HASH_STORE_BASKET_ADD }}";
        var hashStoreBasketDelete = "{{ model.HASH_STORE_BASKET_DELETE }}";
        var hashStoreBasketEdit = "{{ model.HASH_STORE_BASKET_EDIT }}";
        var hashStoreBasketLoad = "{{ model.HASH_STORE_BASKET_LOAD }}";
        var hashStoreSetCurrency = "{{ model.HASH_STORE_SET_CURRENCY }}";
        var hashStoreSetRegion = "{{ model.HASH_STORE_SET_REGION }}";
        var hashStoreSetIsIncludedVAT = "{{ model.HASH_STORE_SET_IS_INCLUDED_VAT }}";
        var hashPageStoreBasket = "{{ model.HASH_PAGE_STORE_BASKET }}";
        var idBasket = "#{{ model.ID_BASKET }}";
        var idBasketContainer = "#{{ model.ID_BASKET_CONTAINER }}";
        var idBasketTotal = "#{{ model.ID_BASKET_TOTAL }}";
        var idBtnCheckout = "#{{ model.ID_BUTTON_CHECKOUT }}";
        var idCurrency = "#{{ model.ID_CURRENCY }}";
        var idLabelBasketEmpty = "#{{ model.ID_LABEL_BASKET_EMPTY }}";
        var idRegionDelivery = "#{{ model.ID_REGION_DELIVERY }}";
        var keyIdCurrency = "{{ model.KEY_ID_CURRENCY }}";
        var keyItems = "{{ model.KEY_ITEMS }}";
        var keyIdPermutation = "{{ model.KEY_ID_PERMUTATION }}";
        var keyIdProduct = "{{ model.KEY_ID_PRODUCT }}";
        var keyIdRegionDelivery = "{{ model.KEY_ID_REGION_DELIVERY }}";
        var keyIsIncludedVAT = "{{ model.KEY_IS_INCLUDED_VAT }}";
        var typeFormBasketAdd = "{{ model.TYPE_FORM_BASKET_ADD }}";
        var typeFormBasketEdit = "{{ model.TYPE_FORM_BASKET_EDIT }}";

        /*
        if (!isEmpty({ { model.basket.items }})) {
            localStorage.setItem(keyBasket, JSON.parse(JSON.stringify({'items': "{ { model.basket.items }}"}))); 
        }
        */
        
        $(document).ready(function() {
            // hookupStore();
        });
        
    </script>
{% elif block_id == 'checkout' %}
<!-- Variables from Model_View_Store + model-->
<script>
    var hashPageStoreCheckout = "{{ model.HASH_PAGE_STORE_CHECKOUT }}";
    var hashPageStoreCheckoutSession = "{{ model.HASH_PAGE_STORE_CHECKOUT_SESSION }}";
    var hashStoreBasketInfo = "{{ model.HASH_STORE_BASKET_INFO }}";
    var idOverlayInfoBilling = "#{{ model.ID_OVERLAY_INFO_BILLING }}";
    var idOverlayInfoDelivery = "#{{ model.ID_OVERLAY_INFO_DELIVERY }}";
    var idContainerInfoBilling = "#{{ model.ID_CONTAINER_INFO_BILLING }}";
    var idContainerInfoDelivery = "#{{ model.ID_CONTAINER_INFO_DELIVERY }}";
    var keyIdCheckout = "{{ model.KEY_ID_CHECKOUT }}";
    var keyInfoBilling = "{{ model.KEY_INFO_BILLING }}";
    var keyInfoDelivery = "{{ model.KEY_INFO_DELIVERY }}";
    var keyInfoIdentical = "{{ model.KEY_INFO_IDENTICAL }}";
    var keyInfoType = "{{ model.KEY_INFO_TYPE }}";
    var keyIsSubscription = "{{ model.KEY_IS_SUBSCRIPTION }}";
    var keyAddress1 = "{{ model.KEY_ADDRESS1 }}";
    var keyAddress2 = "{{ model.KEY_ADDRESS2 }}";
    var keyCity = "{{ model.KEY_CITY }}";
    var keyCounty = "{{ model.KEY_COUNTY }}";
    var keyNameFull = "{{ model.KEY_NAME_FULL }}";
    var keyPhoneNumber = "{{ model.KEY_PHONE_NUMBER }}";
    var keyPostcode = "{{ model.KEY_POSTCODE }}";
    var keyRegion = "{{ model.KEY_REGION }}";
    var keyUrlCheckout = "{{ model.KEY_URL_CHECKOUT }}";
</script>
{% elif block_id == 'Textarea_Product_Permutation_Variations' %}
<textarea 
    class="{{ model.FLAG_VARIATIONS }}" 
    {{ model.ATTR_VALUE_CURRENT }}="{{ permutation.output_variations_jsonify() }}" 
    {{ model.ATTR_VALUE_PREVIOUS }}="{{ permutation.output_variations_jsonify() }}"
>{{ permutation.output_variations() }}</textarea>
{% elif block_id == 'Textarea_Product_Permutation_Variations_Blank' %}
<textarea class="{{ model.FLAG_VARIATIONS }}" {{ model.ATTR_VALUE_CURRENT }} {{ model.ATTR_VALUE_PREVIOUS }}></textarea>
{% endif %}