<!-- Product price display with purchase options -->

<div class="container column">
    <h2>{{ product.output_price() }}</h2> <!-- product.price_GBP -->
    {% set form = product.form_basket_add %}
    <form {{ model.attr_form_type }}="{{ form.form_type }}" {{ model.attr_id_product }}="{{ product.id_product }}" {{ model.attr_id_permutation }}="{{ permutation.id_permutation }}" class="container column">
        {{ form.hidden_tag() }}
        {% set tmp_quantity = 1 %}
        {% include '_block_input_number_plus_minus.html' %}
        {{ form.submit() }}
    </form>
    <!-- 
    <button class="{{ model.flag_btn_basket_add }}" type="submit" {{ model.attr_id_product }}="{{ product.id }}">Add to basket</button>
    <button class="{{ model.flag_btn_buy_now }}" type="submit" {{ model.attr_id_product }}="{{ product.id }}">Buy it now</button>
    -->
</div>