<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %} - PARTS</title>
    
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/shared.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script> <!-- Include jQuery from a CDN -->
    
    <script>
        var attrTextCollapsed = "{{ model.ATTR_TEXT_COLLAPSED }}";
        var attrTextExpanded = "{{ model.ATTR_TEXT_EXPANDED }}";
        var flagBtnOverlayClose = "{{ model.FLAG_BTN_OVERLAY_CLOSE }}";
        var flagBtnSubmit = "{{ model.FLAG_BTN_SUBMIT }}";
        var flagCard = "{{ model.FLAG_CARD }}";
        var flagCollapsed = "{{ model.FLAG_COLLAPSED }}";
        var flagCollapsible = "{{ model.FLAG_COLLAPSIBLE }}";
        var flagColumn = "{{ model.FLAG_COLUMN }}";
        var flagContainer = "{{ model.FLAG_CONTAINER }}";
        var flagContainerInput = "{{ model.FLAG_CONTAINER_INPUT }}";
        var flagExpanded = "{{ model.FLAG_EXPANDED }}";
        var flagInitialised = "{{ model.FLAG_INITIALISED }}";
        var flagRow = "{{ model.FLAG_ROW }}";
        var flagScrollable = "{{ model.FLAG_SCROLLABLE }}";
        var flagSubmitted = "{{ model.FLAG_SUBMITTED }}";
        var hashPageContact = "{{ model.HASH_PAGE_CONTACT }}";
        var hashPageErrorNoPermission = "{{ model.HASH_PAGE_ERROR_NO_PERMISSION }}";
        var hashPageHome = "{{ model.HASH_PAGE_HOME }}";
        var hashPageServices = "{{ model.HASH_PAGE_SERVICES }}";
        var hashPageStoreHome = "{{ model.HASH_PAGE_STORE_HOME }}";
        var hashPageStoreProduct = "{{ model.HASH_PAGE_STORE_PRODUCT }}";
        var idButtonHamburger = "#{{ model.ID_BUTTON_HAMBURGER }}";
        var idFormCurrency = "#{{ model.ID_FORM_CURRENCY }}";
        var idFormDeliveryRegion = "#{{ model.ID_FORM_DELIVERY_REGION }}";
        var idFormIsIncludedVAT = "#{{ model.ID_FORM_IS_INCLUDED_VAT }}";
        var idNavContact = "#{{ model.ID_NAV_CONTACT }}";
        var idNavHome = "#{{ model.ID_NAV_HOME }}";
        var idNavServices = "#{{ model.ID_NAV_SERVICES }}";
        var idNavStoreHome = "#{{ model.ID_NAV_STORE_HOME }}";
        var idNavStoreProduct = "#{{ model.ID_NAV_STORE_PRODUCT }}";
        var idOverlayHamburger = "#{{ model.ID_OVERLAY_HAMBURGER }}";
        var idPageBody = "#{{ model.ID_PAGE_BODY }}";
        var isUserLoggedIn = "{{ model.output_bool(model.IS_USER_LOGGED_IN) }}";
        var keyBasket = "{{ model.KEY_BASKET }}";
        var keyForm = "{{ model.KEY_FORM }}";
        var keyPrice = "{{ model.KEY_PRICE }}";
        var keyQuantity = "{{ model.KEY_QUANTITY }}";
        var keyShared = "shared";
        var _pathHost = "{{ model.URL_HOST }}";
    </script>


    <!-- Stylesheets -->
    <link href="{{ url_for('static', filename='css/shared.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>


<div class="topnav">
    <div class="{{ model.FLAG_CONTAINER }}" style="width: 25vw; min-width: 15vw; max-width: 25vw;">
        <img class="header-logo" src="{{ url_for('static', filename='images/Logo.png') }}" alt="PARTS logo">
    </div>
    <div class="{{ model.FLAG_CONTAINER }}" style="width: 60vw; min-width: 60vw; max-width: 60vw;">
        <p class="company-name">Precision And Research Technology Systems</p>
    </div>
    <div class="{{ model.FLAG_CONTAINER }}" style="width: 15vw; min-width: 10vw; max-width: 15vw; justify-content: flex-end; "> <!-- padding-left: 25%; -->
        <button id="{{ model.ID_BUTTON_HAMBURGER }}">=</button>
    </div>
</div>

<div id="{{ model.ID_OVERLAY_HAMBURGER }}" class="{{ model.FLAG_OVERLAY}} {{ model.FLAG_HAMBURGER }} {{ model.FLAG_EXPANDED}}" style="height: {{ 27 * 3 }}px"> <!-- {- { 4.5 * 3 }}vh -->
    <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
        <a id="{{ model.ID_NAV_HOME }}">Home</a> <!-- href="{{ url_for('home') }}" -->
    </div>
    <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
        <a id="{{ model.ID_NAV_SERVICES }}">Services</a>
    </div>
    <!--
    <div class="container column">
        <a id="{{ model.ID_NAV_TECHNOLOGIES }}">Technologies</a>
    </div>
    <div class="container column">
        <a id="{{ model.ID_NAV_STORE_HOME }}">Store</a>
    </div>
    -->
    <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
        <a id="{{ model.ID_NAV_CONTACT }}">Contact</a> <!-- href="{{ url_for('contact') }}" -->
    </div>
    {% if model.is_page_store %}
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
            <!-- <a href="{ url_ for('create_price_dummy') }">Create template price</a> -->
            <form id="{{ model.ID_FORM_IS_INCLUDED_VAT }}" class="{{ model.FLAG_CONTAINER }}" action="{{ url_for('set_is_included_VAT') }}" method="POST">
                {{ model.form_is_included_VAT.hidden_tag() }}
                <div class="container-input">
                    {{ model.form_is_included_VAT.is_included.label }}
                    {{ model.form_is_included_VAT.is_included( checked = model.is_included_VAT ) }}
                    {% for error in model.form_is_included_VAT.is_included.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
            <form id="{{ model.ID_FORM_DELIVERY_REGION }}" class="{{ model.FLAG_CONTAINER }}" action="{{ url_for('set_delivery_region') }}" method="POST">
                {{ model.form_delivery_region.hidden_tag() }}
                <div class="container-input">
                    {{ model.form_delivery_region.id_region_delivery.label }}
                    {{ model.form_delivery_region.id_region_delivery() }}
                    {% for error in model.form_delivery_region.id_region_delivery.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
            <form id="{{ model.ID_FORM_CURRENCY }}" class="{{ model.FLAG_CONTAINER }}" action="{{ url_for('set_currency') }}" method="POST">
                {{ model.form_currency.hidden_tag() }}
                <div class="container-input">
                    {{ model.form_currency.id_currency.label }}
                    {{ model.form_currency.id_currency() }}
                    {% for error in model.form_currency.id_currency.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
            <a href="{{ url_for('logout') if model.is_user_logged_in else url_for('login') }}" style="float:right">{{ 'Logout' if model.is_user_logged_in else 'Login' }}</a>
        </div>
    {% endif %}
</div>

<!-- Page body -->
<div id="{{ model.ID_PAGE_BODY }}" class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_PAGE_BODY }}">
    {% block page_body %}{% endblock %}
</div>


<div class="footer">
    <h4>Copyright (C) Precision And Research Technology Systems Limited. All rights reserved.</h4>
    <h5>Company number 13587499</h5>
</div>

</body>
</html>

<!-- Scripts --
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
-->
<!-- Include jQuery from a CDN --
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
-->

<script>
    

    $(document).ready(function() {
        // alert("naughty boy");
        hookupShared();
    });
</script>
