
#formFilters {
    width: 50vh;
}

#formFilters .container {
    max-width: fit-content;
}

#formFilters .container-input.filter.is_not_empty {
    width: 10vh;
} 

#formFilters .container-input.filter.active {
    width: 8vh;
}

#tableMain {
    max-width: min(calc(1vh * 79), calc(1vw * 90));
}

/*
#tableMain thead tr th, #tableMain tbody tr td {
    margin-left: 1vh;
    margin-right: 1vh;
}
*/

#tableMain tbody tr td.display_order, #tableMain thead tr th.display_order {
    width: 5vh;
    min-width: 5vh;
}
#tableMain tbody tr td.code, #tableMain thead tr th.code {
    width: 10vh;
    min-width: 10vh;
}
#tableMain tbody tr td.name, #tableMain thead tr th.name {
    width: 15vh;
    min-width: 15vh;
}
#tableMain tbody tr td.description, #tableMain thead tr th.description {
    width: 25vh;
    min-width: 25vh;
}
#tableMain tbody tr td.access_level, #tableMain thead tr th.access_level {
    width: 7vh;
    min-width: 7vh;
}
#tableMain tbody tr td.active, #tableMain thead tr th.active {
    width: 5vh;
    min-width: 5vh;
}

td > input, td > select, td > textarea, .container-input > input, .container-input > select, .container-input > textarea {
    border: 2px solid var(--c_purple);
    border-radius: 0.5vh;
}

#tableMain tbody tr td table thead tr th.id_variation_type, #tableMain tbody tr td table tbody tr td.id_variation_type, #tableMain tbody tr td table thead tr th.id_variation, #tableMain tbody tr td table tbody tr td.id_variation {
    width: 47.5%;
}

