
th, td {
    min-width: fit-content;
}


#tableMain {
    max-width: 90vw;
}
#tableMain thead tr th.product_category, #tableMain tbody tr td.product_category {
    width: 12vh;
    min-width: 12vh;
}
#tableMain thead tr th.product, #tableMain tbody tr td.product,
#tableMain thead tr th.storage_location, #tableMain tbody tr td.storage_location {
    width: 10vh;
    min-width: 10vh;
}

#tableMain thead tr th.product_variations.collapsed, #tableMain tbody tr td.product_variations.collapsed {
    width: 10vh;
    min-width: 10vh;
    display: table-cell !important;
}
#tableMain thead tr th.product_variations, #tableMain tbody tr td.product_variations {
    width: 24vh;
    min-width: 24vh;
}
#tableMain tbody tr td.product_variations table thead tr th.product_variation_type, #tableMain tbody tr td.product_variations table tbody tr td.product_variation_type,
#tableMain tbody tr td.product_variations table thead tr th.product_variation, #tableMain tbody tr td.product_variations table tbody tr td.product_variation {
    width: 8vh;
    min-width: 8vh;
}
#tableMain tbody tr td.product_variations table thead tr th.add, #tableMain tbody tr td.product_variations table tbody tr td.delete {
    width: 4vh;
    min-width: 4vh;
}

#tableMain thead tr th.id_currency_cost.collapsed, #tableMain tbody tr td.id_currency_cost.collapsed {
    width: 9vh;
    min-width: 9vh;
}
#tableMain thead tr th.id_currency_cost, #tableMain tbody tr td.id_currency_cost {
    width: 11vh;
    min-width: 11vh;
}

#tableMain thead tr th.cost_unit_local_vat_excl, #tableMain tbody tr td.cost_unit_local_vat_excl,
#tableMain thead tr th.cost_unit_local_vat_incl, #tableMain tbody tr td.cost_unit_local_vat_incl {
    width: 9vh;
    min-width: 9vh;
}

#tableMain thead tr th.storage_location.collapsed, #tableMain tbody tr td.storage_location.collapsed {
    width: 10vh;
    min-width: 10vh;
}
#tableMain thead tr th.storage_location, #tableMain tbody tr td.storage_location {
    width: 20vh;
    min-width: 20vh;
}
#tableMain tbody tr td.storage_location table thead tr th, 
#tableMain tbody tr td.storage_location table tbody tr td {
    width: 8vh;
    min-width: 8vh;
}
#tableMain tbody tr td.storage_location table thead tr th:last-of-type,
#tableMain tbody tr td.storage_location table tbody tr td:last-of-type {
    width: 4vh;
    min-width: 4vh;
}

#tableMain thead tr th.active, #tableMain tbody tr td.active,
#tableMain thead tr th.is_sealed, #tableMain tbody tr td.is_sealed,
#tableMain thead tr th.is_consumed, #tableMain tbody tr td.is_consumed {
    width: 6vh;
    min-width: 6vh;
}

#tableMain thead tr th.date_purchased, #tableMain tbody tr td.date_purchased,
#tableMain thead tr th.date_received, #tableMain tbody tr td.date_received,
#tableMain thead tr th.date_unsealed, #tableMain tbody tr td.date_unsealed,
#tableMain thead tr th.date_expiration, #tableMain tbody tr td.date_expiration,
#tableMain thead tr th.date_consumed, #tableMain tbody tr td.date_consumed {
    width: 15vh;
    min-width: 15vh;
}