
#formFilters {
    width: 100vh;
}

#formFilters .container-input.filter.active {
    width: 8vh;
}
#formFilters .container-input.filter.date_from, 
#formFilters .container-input.filter.date_to {
    width: 8vh;
}

#tableMain tbody tr td.supplier, #tableMain thead tr th.supplier {
    width: 15vh;
    min-width: 15vh;
}

#tableMain thead tr th.currency.collapsed, #tableMain tbody tr td.currency.collapsed {
    width: 9vh;
    min-width: 9vh;
}
#tableMain thead tr th.currency, #tableMain tbody tr td.currency {
    width: 11vh;
    min-width: 11vh;
}

#tableMain tbody tr td.cost_total_local_vat_excl, #tableMain thead tr th.cost_total_local_vat_excl, 
#tableMain tbody tr td.cost_total_local_vat_incl, #tableMain thead tr th.cost_total_local_vat_incl {
    width: 10vh;
    min-width: 10vh;
}

#tableMain tbody tr td.order_items, #tableMain thead tr th.items {
    width: 40vh;
    min-width: 40vh;
}
#tableMain thead tr th.order_items.collapsed, #tableMain tbody tr td.order_items.collapsed {
    width: 15vh;
    min-width: 15vh;
}
#tableMain:has(tbody tr td.order_items table thead tr th.product_variations.collapsed) thead tr th.order_items, 
#tableMain:has(tbody tr td.order_items table thead tr th.product_variations.collapsed) tbody tr td.order_items {
    width: 126vh;
    min-width: 126vh;
}
#tableMain thead tr th.order_items, 
#tableMain tbody tr td.order_items {
    width: 136vh;
    min-width: 136vh;
}
#tableMain tbody tr td.order_items table thead tr th, #tableMain tbody tr td.order_items table tbody tr td {
    width: 12vh;
    min-width: 12vh;
}
#tableMain tbody tr td.order_items table thead tr th.display_order, #tableMain tbody tr td.order_items table tbody tr td.display_order,
#tableMain tbody tr td.order_items table thead tr th.add, #tableMain tbody tr td.order_items table tbody tr td.delete {
    width: 5vh;
    min-width: 5vh;
}

#tableMain tbody tr td.order_items table thead tr th.product_variations.collapsed, #tableMain tbody tr td.order_items table tbody tr td.product_variations.collapsed {
    width: 10vh;
    min-width: 10vh;
}
#tableMain tbody tr td.order_items table thead tr th.product_variations, #tableMain tbody tr td.order_items table tbody tr td.product_variations {
    width: 20vh;
    min-width: 20vh;
}
#tableMain tbody tr td.order_items table tbody tr td.product_variations table thead tr th, #tableMain tbody tr td.order_items table tbody tr td.product_variations table tbody tr td {
    width: 8vh;
    min-width: 8vh;
}
#tableMain tbody tr td.order_items table tbody tr td.product_variations table thead tr th:last-of-type, #tableMain tbody tr td.order_items table tbody tr td.product_variations table tbody tr td:last-of-type {
    width: 4vh;
    min-width: 4vh;
}

#tableMain tbody tr td.order_items table thead tr th.id_unit_measurement_quantity, #tableMain tbody tr td.order_items table tbody tr td.id_unit_measurement_quantity {
    width: 6vh;
    min-width: 6vh;
}
#tableMain tbody tr td.order_items table thead tr th.quantity_ordered, #tableMain tbody tr td.order_items table tbody tr td.quantity_ordered,
#tableMain tbody tr td.order_items table thead tr th.quantity_received, #tableMain tbody tr td.order_items table tbody tr td.quantity_received,
#tableMain tbody tr td.order_items table thead tr th.cost_total_local_vat_excl, #tableMain tbody tr td.order_items table tbody tr td.cost_total_local_vat_excl,
#tableMain tbody tr td.order_items table thead tr th.cost_total_local_vat_incl, #tableMain tbody tr td.order_items table tbody tr td.cost_total_local_vat_incl,
#tableMain tbody tr td.order_items table thead tr th.cost_unit_local_vat_excl, #tableMain tbody tr td.order_items table tbody tr td.cost_unit_local_vat_excl,
#tableMain tbody tr td.order_items table thead tr th.cost_unit_local_vat_incl, #tableMain tbody tr td.order_items table tbody tr td.cost_unit_local_vat_incl,
#tableMain tbody tr td.order_items table thead tr th.latency_delivery_days, #tableMain tbody tr td.order_items table tbody tr td.latency_delivery_days {
    width: 8vh;
    min-width: 8vh;
}
#tableMain tbody tr td.order_items table thead tr th.active, #tableMain tbody tr td.order_items table tbody tr td.active {
    width: 4vh;
    min-width: 4vh;
}

#tableMain tbody tr td.active, #tableMain thead tr th.active {
    width: 5vh;
    min-width: 5vh;
}
