
#pageBody > .card:first-of-type{
    flex-grow: 1;
}
#pageBody > .card:last-of-type {
}
#pageBody > .card:not(:first-of-type) {
}

#pageBody label {
    font-size: min(16px, calc(1vh * 4));
}

#email {
    /* min-width: 40vw; */
    width: 40vw;
}
#name {
    width: 50vw;
}
#message {
    width: 60vw;
}

input, textarea {
    max-width: 65vw;
}