
#pageBody > .card:first-of-type{
    flex-grow: 1;
}
#pageBody > .card:last-of-type {
}
#pageBody > .card:not(:first-of-type) {
}

#pageBody label {
    font-size: min(16px, calc(1vh * 4));
}

#pageBody > .card {
    max-width: min(80vw, 1000px);
}

#email {
    /* min-width: 40vw; */
    width: min(40vw, 500px);
}
#name {
    width: min(50vw, 625px);
}
#message {
    width: min(60vw, 750px);
}

input, textarea {
    max-width: 65vw;
}