#pageBody > .card {
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: 80vw;
}

#pageBody .card h1,
#pageBody .card h2,
#pageBody .card p {
    width: 100%;
}

#pageBody .card p {
    font-size: min(16px, calc(1vh * 4));
}

table {
    left: 5vw;
    max-width: 70vw;
    width: fit-content !important;
}

table td {
    padding: 10px;
}

table th {
    font-size: min(16px, calc(1vh * 4));
}
