<div class="{{ model.FLAG_OVERLAY }} {{ model.FLAG_COLLAPSED }} {{ model.FLAG_CARD }}" id="{{ model.ID_OVERLAY_CONFIRM }}" style="visibility: hidden;" z-index="2">
    <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
        <h2>Are you sure?</h2>
    </div>
    <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
        <textarea id="{{ model.ID_TEXTAREA_CONFIRM }}" rows="4" cols="50"></textarea>
    </div>
    <div class="{{ model.FLAG_CONTAINER }} {{ model.FLAG_ROW }}">
        {% set block_id = 'button_cancel' %}
        {% include 'components/common/buttons/_buttons_save_cancel.html' %}
        {% set block_id = 'button_confirm' %}
        {% include 'components/common/buttons/_buttons_save_cancel.html' %}
    </div>
</div>

<script type="module">
    import Events from "{{ url_for('static', filename='js/lib/events.js') }}";
    
    var idOverlayConfirm = "#{{ model.ID_OVERLAY_CONFIRM }}";

    function hookupOverlayConfirm(callbackSuccess) {
        /*
        let overlay = document.querySelector("#{{ model.ID_OVERLAY_CONFIRM }}");
        let textarea = overlay.querySelector('#{{ model.ID_TEXTAREA_CONFIRM }}');
        let buttonCancel = overlay.querySelector('#{{ model.ID_BUTTON_CANCEL }}');
        let buttonConfirm = overlay.querySelector('#{{ model.ID_BUTTON_CONFIRM }}');
        */
        let selectorTextarea = idOverlayConfirm + ' textarea';
        let selectorButtonCancel = idOverlayConfirm + ' button.' + flagCancel;
        let selectorButtonConfirm = idOverlayConfirm + ' button.' + flagSubmit;

        Events.initialiseEventHandler(selectorButtonCancel, flagInitialised, function(buttonCancel) {
            buttonCancel.addEventListener('click', function() {
                let overlay = document.querySelector(idOverlayConfirm);
                overlay.style.visibility = 'hidden';
            });
        });
        Events.initialiseEventHandler(selectorButtonConfirm, flagInitialised, function(buttonConfirm) {
            buttonConfirm.addEventListener('click', function() {
                let overlay = document.querySelector(idOverlayConfirm);
                let textarea = overlay.querySelector('textarea');
                overlay.style.visibility = 'hidden';
                callbackSuccess(textarea.value);
            });
        });
    }
    function showOverlayConfirm() {
        let overlay = document.querySelector(idOverlayConfirm);
        overlay.classList.remove(flagCollapsed);
        overlay.style.visibility = 'visible';
    }
</script>