
{% if not is_blank_row %}
    <div 
        class="{{ model.FLAG_PRODUCT_CATEGORY }}" 
        {{ model.ATTR_VALUE_CURRENT }}="{{ category.id_category }}" 
        {{ model.ATTR_VALUE_PREVIOUS }}="{{ category.id_category }}"
    >{{ category.name }}</div>
{% else %}
    <select class="{{ model.FLAG_PRODUCT_CATEGORY}}" {{ model.ATTR_VALUE_CURRENT }}="0" {{ model.ATTR_VALUE_PREVIOUS }}="0">
        {% include 'components/common/inputs/_option_blank.html' %}
        {% for cat in model.category_list_filters.categories %}
            <option value="{{ cat.id_category }}">{{ cat.name }}</option>
        {% endfor %}
    </select>
{% endif %}