
{% if not is_blank_row %}
    <div 
        class="{{ model.FLAG_PRODUCT }}" 
        {{ model.ATTR_VALUE_CURRENT }}="{{ product.id_product }}" 
        {{ model.ATTR_VALUE_PREVIOUS }}="{{ product.id_product }}"
    >{{ product.name }}</div>
{% else %}
    <select class="{{ model.FLAG_PRODUCT }}" {{ model.ATTR_VALUE_CURRENT }}="0" {{ model.ATTR_VALUE_PREVIOUS }}="0">
        {% include 'components/common/inputs/_option_blank.html' %}
        {% for product in model.category_list_filters.categories[0].products %}
            <option value="{{ product.id_product }}">{{ product.name }}</option>
        {% endfor %}
    </select>
{% endif %}