
{% if is_blank_row %}
    <tr class="{{ model.FLAG_ROW_NEW }} {{ model.FLAG_MANUFACTURING_PURCHASE_ORDER }}" {{ model.ATTR_ID_MANUFACTURING_PURCHASE_ORDER }}>
        <td class="{{ model.FLAG_ORDER_ITEMS }} {{ model.FLAG_COLLAPSED }}" {{ model.ATTR_VALUE_CURRENT }}="" {{ model.ATTR_VALUE_PREVIOUS }}="">
            {% include 'components/store/_preview_order_items.html' %}
        </td>
        <td class="{{ model.FLAG_CURRENCY }}" {{ model.ATTR_VALUE_CURRENT }}="" {{ model.ATTR_VALUE_PREVIOUS }}="">
            {% include 'components/store/_preview_DDL_currency.html' %}
        </td>
        <td class="{{ model.FLAG_COST_TOTAL_LOCAL_VAT_EXCL }}">
            <div
                class="{{ model.FLAG_COST_TOTAL_LOCAL_VAT_EXCL }}" 
                {{ model.ATTR_VALUE_CURRENT }}="" {{ model.ATTR_VALUE_PREVIOUS }}=""
            ></div>
        </td>
        <td class="{{ model.FLAG_COST_TOTAL_LOCAL_VAT_INCL }}">
            <div
                class="{{ model.FLAG_COST_TOTAL_LOCAL_VAT_EXCL }}" 
                {{ model.ATTR_VALUE_CURRENT }}="" {{ model.ATTR_VALUE_PREVIOUS }}=""
            ></div>
        </td>
        <td class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_EXCL }}">
            <input type="number" min="0" step="0.001" class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_EXCL }}" {{ model.ATTR_VALUE_CURRENT }}="" {{ model.ATTR_VALUE_PREVIOUS }}=""/>
            <div
                class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_EXCL }}" 
                {{ model.ATTR_VALUE_CURRENT }}="" {{ model.ATTR_VALUE_PREVIOUS }}=""
            ></div>
        </td>
        <td class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_INCL }}">
            <input type="number" min="0" step="0.001" class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_INCL }}" {{ model.ATTR_VALUE_CURRENT }}="" {{ model.ATTR_VALUE_PREVIOUS }}=""/>
            <div
                class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_INCL }}" 
                {{ model.ATTR_VALUE_CURRENT }}="" {{ model.ATTR_VALUE_PREVIOUS }}=""
            ></div>
        </td>
        {% set active = true %}
        {% include 'components/store/_td_active.html' %}
    </tr>
{% else %}
    <tr class="{{ model.FLAG_MANUFACTURING_PURCHASE_ORDER }}" {{ model.ATTR_ID_MANUFACTURING_PURCHASE_ORDER }}="{{ order.id_order }}">
        {% set order_items = order.items %}
        {% set json_str_items = model.jsonify(model.convert_list_objects_to_list_options(order_items)) %}
        <td class="{{ model.FLAG_ORDER_ITEMS }} {{ model.FLAG_COLLAPSED }}" {{ model.ATTR_VALUE_CURRENT }}="{{ json_str_items }}" {{ model.ATTR_VALUE_PREVIOUS }}="{{ json_str_items }}">
            {#
                {% include 'components/store/_preview_manufacturing_purchase_order_items.html' %}
            #}
            {% include 'components/store/_preview_order_items.html' %}
        </td>
        {% set currency = order.currency %}
        <td class="{{ model.FLAG_CURRENCY }}" {{ model.ATTR_VALUE_CURRENT }}="{{ currency.id_currency }}" {{ model.ATTR_VALUE_PREVIOUS }}="{{ currency.id_currency }}">
            {% include 'components/store/_preview_DDL_currency.html' %}
        </td>
        <td class="{{ model.FLAG_COST_TOTAL_LOCAL_VAT_EXCL }}">
            <div
                class="{{ model.FLAG_COST_TOTAL_LOCAL_VAT_EXCL }}" 
                {{ model.ATTR_VALUE_CURRENT }}="{{ order.cost_total_local_VAT_excl }}" 
                {{ model.ATTR_VALUE_PREVIOUS }}="{{ order.cost_total_local_VAT_excl }}"
            ></div>
        </td>
        <td class="{{ model.FLAG_COST_TOTAL_LOCAL_VAT_INCL }}">
            <div
                class="{{ model.FLAG_COST_TOTAL_LOCAL_VAT_INCL }}" 
                {{ model.ATTR_VALUE_CURRENT }}="{{ order.cost_total_local_VAT_incl }}" 
                {{ model.ATTR_VALUE_PREVIOUS }}="{{ order.cost_total_local_VAT_incl }}"
            ></div>
        </td>
        <td class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_EXCL }}">
            <div
                class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_EXCL }}" 
                {{ model.ATTR_VALUE_CURRENT }}="{{ order.price_total_local_VAT_excl }}" 
                {{ model.ATTR_VALUE_PREVIOUS }}="{{ order.price_total_local_VAT_excl }}"
            ></div>
        </td>
        <td class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_INCL }}">
            <div
                class="{{ model.FLAG_PRICE_TOTAL_LOCAL_VAT_INCL }}" 
                {{ model.ATTR_VALUE_CURRENT }}="{{ order.price_total_local_VAT_incl }}" 
                {{ model.ATTR_VALUE_PREVIOUS }}="{{ order.price_total_local_VAT_incl }}"
            ></div>
        </td>
        {% set active = order.active %}
        {% include 'components/store/_td_active.html' %}
    </tr>
{% endif %} 